
@import "variables";
@import "../myams/forms";


.col-form-label {
  padding-top: calc(0.375rem + 2px);
  padding-bottom: calc(0.375rem + 0px);
}

.custom-control-label {
  line-height: 1.4;
}

.ams-form {
  fieldset {
    .actions-container {
      top: -2.4em;
    }
  }
}