
@import "variables";
@import "../myams/ribbon";


#ribbon {
    padding: 1rem 2em 0 2em;
    height: 75px;

    .breadcrumb {
        padding: 10px 34px 3px 0;
        border-bottom: 1px solid #dee2e6;
    }

    .fixed-ribbon & {
        left: $aside-width;
    }

    .hidden-menu.fixed-ribbon & {
        @media (max-width: 979px) {
            left: $aside-width;
        }
    }
}
