

@import 'variables';
@import '../myams/buttons';


.btn-sm,
.btn-group-sm > .btn {
  line-height: 1.4 !important;
}

.btn-xs,
.btn-group-xs > .btn {
  line-height: 1.1 !important;
}

.dropdown-toggle::after {
  vertical-align: 0.155em;
}
