//
// MyAMS.js styles
// These styles are extending Bootstrap styles
//


// Skin colors and styles

$white:                     #fff !default;
$gray-100:                  #f8f9fa !default;
$gray-200:                  #e9ecef !default;
$gray-300:                  #dee2e6 !default;
$gray-400:                  #ced4da !default;
$gray-500:                  #adb5bd !default;
$gray-600:                  #6c757d !default;
$gray-700:                  #495057 !default;
$gray-800:                  #343a40 !default;
$gray-900:                  #212529 !default;
$black:                     #000 !default;

$info:                      #9bc9ee !default;
$primary:                   #4487cb !default;
$success:                   #90d790 !default;
$warning:                   #fcc9a8 !default;


$font-size-base:            1rem !default;


$body:                      rgb(121, 121, 121) !default;
$body-bg:                   rgba(255, 255, 255, 0.9) !default;

$body-scrollbar-color:             rgba(66, 66, 66, 0.8) rgba(182, 182, 182, 0.8) !default;
$wk-body-scrollbar-thumb-hover-bg: rgba(105, 105, 105, 0.8) !default;

$header-bg:                 rgb(245, 245, 245) !default;

$aside-width:               270px !default;
$aside-min-width:           260px !default;
$aside-bg:                  rgb(245, 245, 245) !default;

$nav-bg:                    rgb(245, 245, 245) !default;
$nav-divider-bg:            rgb(245, 245, 245) !default;
$nav-header:                $body !default;
$nav-header-bg:             rgb(245, 245, 245) !default;
$nav-link:                  $body !default;
$nav-link-active:           rgb(245, 245, 245) !default;
$nav-link-focus:            $body !default;
$nav-link-hover:            #505050 !default;
$nav-link-pipe:             #e5e2cf !default;
$nav-menu-active:           $body !default;
$nav-sub-menu-bg:           $nav-bg !default;
$nav-sub-menu-active-bg:    #fff !default;
$nav-sub-menu-hover-bg:     $nav-bg !default;
$nav-sub-menu-hover-border: rgba(80, 80, 80, 0.5) !default;
$nav-sub-menu-hover-bold:   #d5d9e2 !default;
$nav-sub2-menu:             $body !default;
$nav-sub2-menu-pipe:        rgba(172, 172, 172, .25) !default;
$nav-sub2-menu-hover-bg:    $nav-bg !default;
$nav-sub2-menu-em-bg:       #f1565e !default;
$nav-sub2-menu-em-border:   rgba(255, 255, 255, .1) !default;
$nav-sub2-menu-bold:        #b3b3b3 !default;
$nav-badge:                 $nav-bg !default;

$version-color:             $gray-500 !default;

$main-margin-top:           60px !default;
$main-height:               calc(100% - 40px) !default;
$main-fixed-height:         calc(100% - 110px) !default;

$ribbon-height:             60px !default;
$ribbon-bg:                 $body-bg !default;
$ribbon-mobile-bg:          #f5f5f5 !default;
$ribbon-mobile-bottom:      #cfcfcf !default;
$ribbon-mobile-top:         #f5f5f5 !default;
$ribbon-link:               $body !default;
$ribbon-mobile-link:        $primary !default;
$ribbon-link-strong:        #6d6c6c !default;
$ribbon-mobile-link-strong: #333 !default;
$ribbon-active-link:        #6c757d !default;
$ribbon-mobile-active-link: #333 !default;

$breadcrumb-divider-color:  #6d6c6c !default;
$breadcrumb-active-color:   #ffffff !default;

$content-padding:           1rem calc(2rem - 4px) 2rem 2rem !default;

$fieldset-border-margin:    1rem !default;
$legend-padding:            0.1rem 0.5rem !default;

$select2-multiple-sortable-width: calc(100% - 32px) !default;

$fc-enabled-text:           $body !default;

$font-family-sans-serif:    -apple-system, BlinkMacSystemFont, "Afacad", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-wide:          "Afacad", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:     "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;


@import "../myams/variables";

@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
