
.table {
  &.table-sm {
    th,
    td {
      padding: 0.5rem;
    }
  }
  &.table-xs {
    th,
    td {
      padding: 0.2rem 0.3rem;
      font-size: 0.9em;
    }
  }
}

section {
  table.datatable {
    th {
      &.sorting_asc,
      &.sorting_desc {
        background-color: $table-sort;
      }
    }
    &.table-bordered {
      tr {
        th:last-child,
        td:last-child {
          border-right-width: 0;
        }
        &:last-child {
          td {
            border-bottom-width: 1px;
          }
        }
      }
    }
  }
  &.inner-table {
    &.border-0 {
      > fieldset {
        margin: 1em 0;

        .editor & {
          margin: 0 0 1em;
        }

        fieldset & {
          margin: 0;
        }
      }
    }
  }
}

form {
  > section {
    &.inner-table {
      &.border-0 {
        > fieldset {
          margin: 1em;
        }
      }
    }
  }
}

table {
  tr {
    &[data-ams-url] * {
      cursor: pointer!important;
  }
  }
  th {
    white-space: nowrap;

    &.reorder,
    &.action {
      width: 1.5em;
    }
  }
  td {
    &.action,
    &.reorder {
      width: 1.5em;
      text-align: center;
      color: lighten($primary, 20%);

      &:hover {
        color: $primary;
      }
    }
  }
  &.dataTable {
    &.my-0 {
      margin-top: 0!important;
      margin-bottom: 0!important;
    }
  }
}
