
/**
 * Custom viewport related classes
 */

$vp-sizes: 100, 200, 300, 400, 500;

.vp {
  &-y {
    overflow-y: auto;

    &-none {
      overflow-y: hidden !important;
    }
    @each $size in $vp-sizes {
      &.vp-#{$size} {
        max-height: #{$size}px;
      }
    }
  }
  &-x {
    overflow-x: auto;

    &-none {
      overflow-x: hidden !important;
    }
    @each $size in $vp-sizes {
      &.vp-#{$size} {
        max-width: #{$size}px;
      }
    }
  }
}
