/**
 * MyAMS main SCSS file
 */

@font-face {
  font-family: "Marianne";
  src: url("../webfonts/Marianne-Regular.woff2") format('woff2'),
       url("../webfonts/Marianne-Regular.woff") format('woff');
}
@font-face {
  font-family: "Marianne-Light";
  src: url("../webfonts/Marianne-Light.woff2") format('woff2'),
       url("../webfonts/Marianne-Light.woff") format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import 'emerald/variables';
@import "../../node_modules/bootstrap/scss/bootstrap";

@import 'myams/animations';

@import 'myams/misc';
@import 'emerald/icons';
@import 'myams/alerts';
@import 'emerald/modals';
@import 'emerald/buttons';
@import 'myams/caret';
@import 'emerald/forms';
@import 'myams/switcher';
@import 'emerald/select2';
@import 'myams/tables';
@import 'myams/tree';
@import "myams/calendar";
@import "myams/gis";

@import 'myams/top';
@import 'emerald/ribbon';
@import "emerald/nav";
@import "myams/tabs";
@import "myams/viewport";
@import "emerald/layout";

@import "myams/scrollbars";


/** Version: $version$ */
