html, body{
   font-size:1.2em;
}

.tab-ul{
  height: 100%;
  width: 100%;
}
.tab-li{
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  color: white;
  background-color: #343a40;
  border-radius: 0;
}
.tab-li:hover {
  color: white;
  background-color: #697581;
}
.tab-li:focus {
  color: white;
  background-color: #697581;
}

.layout-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh);
  padding-top: 20px;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto; /* Centers the container horizontally */
    text-align: left; /* Keeps the text inside aligned to the left */
    padding: 0 15px;
    line-height: 1.6;
}
.content img {
    display: block;
    margin: 20px auto;
    width: 100%;
    height: auto;
}

.nav-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

}

.nav-button {
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  background-color: #000 !important;
  color: #fff !important;
}
.nav-button:hover,
.nav-button:focus {
  background-color: #fff !important;
  color: #000 !important;
}
.nav-button.active {
  border: 2px solid blue !important;

}
.subnav {
  background-color: #343a40;
  border-top: 1px solid #444;
  padding: 0.5rem 1rem;
  margin: 0;
}

fieldset {
    border: 0px;
    padding: 0px;
}

.delete-icon-format {
  color: red;
  cursor: pointer;
  border-radius: 50%;
  font-size: 0.95em;
  padding: 8px;
  box-sizing: border-box;
  transition: 150ms ease-out;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
}

.delete-icon-format:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
  transition: 150ms ease-in;
}

.sticky-btn {
  position: fixed;
  bottom: 65px;
  right: 65px;
  z-index: 1000;
}

/* Responsive adjustments if needed */
@media (max-width: 576px) {
  .sticky-btn {
    bottom: 10px;
    right: 10px;
    left: 10px;
    width: auto;
    text-align: center;
  }
}

.error-container {
  background: #ffe6e6;
  color: #a10000;
  border: 1px solid #a10000;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.error-container .close-btn {
  background: transparent;
  border: none;
  font-size: 22px;
  font-weight: bold;
  color: #a10000;
  float: right;
  cursor: pointer;
}

.error-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.iframe-wrapper {
  height: 85vh;
  width: 100%;
  overflow: hidden;
}
iframe {
  height: 100%;
  width: 100%;
  border: none;
  overflow: auto;
}

.delete-icon-margin::after {
    margin-left: 1.1rem;
}

.element-line-padding{
  padding: 3px;
}

.link-line-padding{
  padding-top: 10px;
  padding-left: 32px;
}

.card{
  margin-bottom: 20px;
}

.radio-container {
  display: flex;
  align-items: center;
}

.radio-container input {
  margin-right: 7px;
}

.delete-mutations {
  display: flex;
  align-items: end;
}

.hidden {
  display: none;
}

.row-margin {
  margin-top: 16px;
}

.row-margin-after-check {
  margin-top: 10px;
}

.textarea-input {
    border: none;
    outline: none;
    box-sizing: border-box;
    field-sizing: content;
    overflow: hidden;
    resize: none;
    min-height: 50px;
}

#menu .panel{position: relative}
#menu .fa-close{position: absolute; right:15px; top:15px; cursor:pointer;}
