[project]
name = "cache-middleware"
version = "0.1.3"
description = "Cache capabilities middleware for Starlette/Fastapi"
authors = [
    {name = "Linus", email = "impalah@gmail.com"}
]
readme = "README.md"
license = { text = "MIT" }
keywords = ["cache", "middleware", "starlette", "fastapi"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Framework :: FastAPI",
    "Programming Language :: Python :: 3",
    "Topic :: System :: Distributed Computing",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

requires-python = ">=3.12"

dependencies = [
    "fastapi>=0.116.1",
    "loguru>=0.7.3",
    "svix-ksuid>=0.6.2",
    "tenacity>=9.1.2",
    "uvicorn>=0.35.0",
]

[project.optional-dependencies]
redis = [
    "redis[hiredis]>=6.2.0",
]
memcached = [
    "aiomcache>=0.8.2",
]
all = [
    "redis[hiredis]>=6.2.0",
    "aiomcache>=0.8.2",
]


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "bandit>=1.8.3",
    "debugpy>=1.8.13",
    "httpx>=0.28.1",
    "ipykernel>=6.29.5",
    "mypy>=1.15.0",
    "pytest>=8.3.5",
    "pytest-asyncio>=0.26.0",
    "pytest-cov>=6.0.0",
    "pytest-mock>=3.14.0",
    "ruff>=0.11.0",
]
docs = [
    "sphinx>=7.1.0",
    "sphinx-rtd-theme>=2.0.0",
    "sphinx-autodoc-typehints>=1.24.0",
    "myst-parser>=2.0.0",
    "sphinx-copybutton>=0.5.2",
    "furo>=2023.9.10",
]

[tool.ruff]
line-length = 88
src = ["src"]  # First, add the source code folder
target-version = "py312"  # We are using Python 3.12

[tool.ruff.lint]
# Activate additional rules to imitate flake8 and isort
select = [
  "E", "F", "I", "UP", "B", "W", "C90"
]
# Exclude files and folders that are not part of the source code
exclude = ["tests/data", ".venv"]

# Activate autofix for common problems
fixable = ["ALL"]

[tool.mypy]
python_version = "3.12"
strict = true
ignore_missing_imports = true
pretty = true



