
@import "variables";
@import "../myams/forms";


.col-form-label {
  padding-top: calc(0.375rem + 2px);
  padding-bottom: calc(0.375rem + 0px);
}

.custom-control-label {
  line-height: 1.4;
}

.ams-form {
  fieldset {
    fieldset {
      background-color: lighten($tab-content-bg, 3);
    }
    .actions-container {
      top: -2.4em;
    }
  }
  .nav-tabs {
    .nav-link {
      border-bottom: 0;
      background-color: transparent;
      color: $input-plaintext-color;

      &.active {
        background-color: $tab-content-bg;
        border-bottom-color: $tab-content-bg;
        color: $body;
      }
    }
  }
  .tab-content {
    background-color: $tab-content-bg;

    fieldset {
      background-color: lighten($tab-content-bg, 3);
    }
  }
}


#ace_settingsmenu {
  background-color: $body-bg;

  label {
    color: $body;
  }
}