.selected {
    fill: orange;
}

.must-link {
    stroke: gray;
    stroke-width: 2;
}

.cannot-link {
    stroke: red;
    stroke-width: 2;
    stroke-dasharray: 4;
}

/* 
circle {
    fill: darkslateblue;
    r: 10;
} */

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn {
    width: 140px;
    height: 50px;
    background: linear-gradient(to top, #111111, #222222, #333333);
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.btn span {
    font-size: 12px;
    text-transform: uppercase;
    transition: top 0.5s;
}

.btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    letter-spacing: 1px;
    transform: translateY(-50%);
}

.btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
}

.btn:hover .btn-text-one {
    top: -100%;
    transition-delay: 1s;
}

.btn:hover .btn-text-two {
    top: 50%;
    transition-delay: 1s;
}

.svg-button-wrapper {
    display: flex;
    /* Align items horizontally */
    align-items: stretch;
    /* Match the height of children elements */
    margin: 0 auto;
    /* Center the SVG and button container within the page */
    width: fit-content;
    /* Ensure wrapper's width is only as wide as its content */
}

svg {
    border: 1px solid #ccc;
    /* Optional: Outline to visualize SVG bounds */
}

.button-container {
    width: 200px;
    /* Fixed width for the button container */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribute buttons evenly */
    align-items: center;
    background-color: #f9f9f9;
    /* Optional: Background for button container */
    padding: 10px;
    border: 1px solid #ccc;
    /* Optional: Visual border */
    box-sizing: border-box;
    /* Ensures padding doesn't affect total width */
}