

@import 'variables';


.btn {
  &.btn-light {
    border-color: $gray-400;
  }
}

.btn-sm,
.btn-group-sm > .btn {
  line-height: 1.4 !important;

  & + .dropdown-menu {
    font-size: $font-size-sm !important;
  }
}


.btn-xs,
.btn-group-xs > .btn {
  padding: .2rem 0.4rem !important;
  font-size: $font-size-xs !important;
  line-height: 1.25 !important;
}

.btn-group {
  > .btn-xs {
    border-radius: 0 !important;
  }
  > .btn-xs:first-child {
    border-top-left-radius: 0.2rem !important;
    border-bottom-left-radius: 0.2rem !important;
  }
  > .btn-xs:last-child {
    border-top-right-radius: 0.2rem !important;
    border-bottom-right-radius: 0.2rem !important;
  }
}

.btn-group-xs {
  > .btn {
    border-radius: 0 !important;
  }
  > .btn:first-child {
    border-top-left-radius: 0.2rem !important;
    border-bottom-left-radius: 0.2rem !important;
  }
  > .btn:last-child {
    border-top-right-radius: 0.2rem !important;
    border-bottom-right-radius: 0.2rem !important;
  }
}