
@import "variables";


.thumbnail {
  min-width: $thumbnails-size;
}

.media-thumbnail {
  min-width: calc(#{$thumbnails-size} + 2 * #{$thumbnails-padding} + 2px);

  &.ui-sortable-helper {
    background-color: $thumbnails-sort-helper-bg;
  }
  &.ui-sortable-placeholder {
    border: 1px dotted $thumbnails-sort-placeholder-border !important;
    visibility: visible !important;
  }
}

.fa-shake {
  animation: shake 0.5s;
  animation-iteration-count: 5;
}

.toast-wrapper {
    .toast {
        .toast-header {
            .close {
                color: rgba(255, 255, 255, 0.5) !important;
            }
        }
    }
}
